html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.body_overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-image: url(/img/irish_street_small.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
}

html, body {
  height: 100%;
  position: relative;
  overflow: scroll;
  margin: 0;
}

.options {
  padding: 15px;
}

.question {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 500px;
  position: relative;
  .question_container {
    flex: 1;
    padding: 0 15px;
  }
}
.admin {
  position: relative;
  padding-top: 65px;
  .admin_container {
    max-width: 100%;
    width: 500px;
    margin: auto;
    position: relative;
  }
}

.no_more {
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  &.subheader {
    font-size: 25px;
  }
}

.menu_link {
  color: #f57c00;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  transition: 0.15s ease-out;
  z-index: 1;
  &:hover {
    text-decoration: underline;
  }

}
