<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Fontenelle Forest</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="">

    <meta name="google-site-verification" content="K_yIBC7KRlaZ3mFQP7wpzRh-xZaqn-Y0M011TVC0wdk" />

    <!-- Modernizr -->
    <script type="text/javascript" src="/js/modernizr.min.js" async></script>

  </head>
  <body>
    <h1><%= message %></h1>
    <p><%= error.status %></p>
    <pre><%= error.stack %></pre>
  </body>
</html>
