<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Survey Questions</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="shortcut icon" href="">

  </head>
  <body>
    <div class="body_overlay"></div>
    <a class="menu_link" href="/admin">Are you an Admin?</a>
    <div id="question" class="question"></div>
    <script>
      var WebFontConfig = {
        google: { families: [ 'Roboto:400,300,500:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <script src="/js/index.js"></script>
  </body>
</html>
